= Blurb.display('feature graphic')
.home.fl_r.f_f
  .l.paragraphs
    %label.h2= Blurb.display('headline')
    = Blurb.display('intro')
    = Blurb.display('About GeoCommons')
  .r
    - for atlas in Atlas.listed.latest_first do
      - content_tag_for :div, atlas do
        %h2= link_to atlas.title, top_atlas_path(:url => atlas.url)
        %p= atlas.short_description
        = link_to "Launch &raquo;", top_atlas_path(:url => atlas.url), :class => "b_launch"
      
    