<h1>Current Footer</h1>

<table>
  <tr>
    <th>Link</th>
    <th>Linktext</th>
    <th>Text</th>
  </tr>

  <tr>
    <td><%=h @footers.link %></td>
    <td><%=h @footers.linktext %></td>
    <td><%=h @footers.description %></td>
    <td><%= link_to 'Show', @footers %></td>
    <td><%= link_to 'Edit', edit_footer_path(@footers) %></td>
  </tr>
</table>

<br />
