<div id="embed" style="display:none">
<p>To use this map on your website simply copy the following and paste it into your web page:</p>
<textarea onclick="Form.Element.select(element);" class="code" id="embed_code" rows="6" cols="50" readonly>&lt;script type=&quot;text/javascript&quot; charset=&quot;utf-8&quot; src=&quot;<%= PLATFORM_CONFIG["maker"] %>/javascripts/embed.js&quot;&gt;&lt;/script&gt;
&lt;script type=&quot;text/javascript&quot; charset=&quot;utf-8&quot;&gt;
  Maker.maker_host=&#x27;<%= PLATFORM_CONFIG["maker"] %>&#x27;;Maker.finder_host=&#x27;<%= PLATFORM_CONFIG["finder"] %>&#x27;;Maker.core_host=&#x27;<%= PLATFORM_CONFIG["url"] %>&#x27;;
  Maker.load_map(&quot;maker_map_%mapid%&quot;, &quot;%mapid%&quot;);
&lt;/script&gt;
&lt;div id=&quot;geocommons_map&quot; &lt;div id=&quot;geocommons_map&quot; id=&quot;maker_map_%mapid%&quot;&gt;&lt;/div&gt;&lt;br/&gt;
&lt;a id=&quot;geocommons_map_link&quot; id=&quot;maker_map_%mapid%_link&quot; href=&quot;<%= atlas_url(@atlas.url) %>&quot;&gt;View full atlas&lt;/a&gt;</textarea>
<a href="#" id="dismiss_share">Done</a>
</div>  