%h2== Editing: <span id="atlas_title">#{@atlas.title}</span> | #{link_to "Sort Lists", organize_atlas_path(@atlas)}
= render :partial => "form", :locals => {:atlas => @atlas}
%ul
  %li= link_to 'Show', @atlas
  %li= link_to 'Back', atlases_path