- content_tag_for :div, @atlas do

  #maker_map{:style=>"height:600px"}
    .loading
      Loading...
  - content_for :side do
    #panel_welcome.panel
      %label= link_to h(@atlas.title), "#", :class => "expand expand_welcome"
      .short
        = RDiscount.new(@atlas.description.split("\r\n\r\n").first).to_html
        = link_to "more &raquo;", "#", :class => "expand expand_welcome"
      .long{:style=>"display:none"}
        = RDiscount.new(@atlas.description).to_html
        = link_to "&laquo; less", "#", :class => "expand expand_explore"
    
    #atlas_panels
      
- content_for :end_js do
  == News.create_panels('atlas_panels', #{@atlas.map_lists.to_json})
  == News.default_map_list = "#{@atlas.default_map_list_id}"
  == News.default_map = "#{@atlas.default_map_id}"
  Accordion.initialize()

