#footer
  .footer.fl_r
    .l= "Website Design &copy; #{Time.now.year} by #{link_to "FortiusOne", "http://fortiusone.com"}, Powered By #{link_to "GeoCommons", "http://geocommons.com/"}, #{Footer.first.description} #{link_to Footer.last.linktext, Footer.last.link}"
    .r
      /[I'll put something here someday]