!!!
- #render :partial => '/layouts/application_behaviours'
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %meta{"http-equiv" => "Content-Type", "content" => "text/html; charset=utf-8"}/
    %title
      =@page_title + ' - ' if @page_title
      =@product_name
    = stylesheet_link_tag "admin", :media => "all"
    /[if lt IE 7.]
      = #stylesheet_link_tag "application_ie6", :media => "all" 
  
    =javascript_include_tag 'prototype', 'effects', 'application', 'dragdrop', 'f1_maker_map', 'f1_outlet'
    
    =javascript_include_tag 'jquery-1.3.2.min'
    
    %script{:type=>"text/javascript"}
      var jq = jQuery.noConflict();
    
    =javascript_include_tag 'admin'
    
    %script{:type=>"text/javascript"}
      = "Maker.maker_host =  '#{PLATFORM_CONFIG["maker"]}'"
      = "Maker.finder_host = '#{PLATFORM_CONFIG["finder"]}'"
      = "Maker.core_host =   '#{PLATFORM_CONFIG["url"]}'"

  %body
    #header
      .header
        #logo
          =link_to "Map of the News | Administration", '/admin'
          %small
            =link_to "&laquo;&nbsp;Site Home", '/'
            = link_to "&laquo;&nbsp;Admin", admin_url
            = link_to "&laquo Your Atlases", user_atlases_path(current_user.login)
    #content
      .content
        #page{:class => "c_#{@controller.controller_name} a_#{@controller.action_name}"}
          .page
            - unless @supress_flash
              - if flash[:error]
                #error= flash[:error]
              - if flash[:warning]
                #warning= flash[:warning]
              - if flash[:notice]
                #notice= flash[:notice]
            = yield
        #side
          .side
            = yield :side

    - unless @client_footer or 1==1
      #footer
        .footer
          == &copy; #{Time.now.year} FortiusOne
    %script{:type => "text/javascript", :charset => "utf-8"}
      = yield :end_js
    