!!!
- #render :partial => '/layouts/application_behaviours'
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %meta{"http-equiv" => "Content-Type", "content" => "text/html; charset=utf-8"}/
    
    %title
      =@page_title if @page_title
    
    = stylesheet_link_tag "main", :media => "all"
    = stylesheet_link_tag "f1_outlet", :media => "all"
    
    /[if lt IE 8]
      = stylesheet_link_tag "main_ie", :media => "all" 
  
    =javascript_include_tag 'prototype', 'effects', 'application', 'f1_maker_map', 'f1_outlet'
    
    - if params[:fbl]
      %script{:type=>'text/javascript', :src=>'http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'}
    %script{:type=>"text/javascript"}
      = "Maker.maker_host =  '#{PLATFORM_CONFIG["maker"]}'"
      = "Maker.finder_host = '#{PLATFORM_CONFIG["finder"]}'"
      = "Maker.core_host =   '#{PLATFORM_CONFIG["url"]}'"
    = yield :header
    
    %style{:media => "all"}
      = configuration_styles
    
  %body
    = render :partial => 'layouts/header'
    #content
      .content
        #page{:class => "c_#{@controller.controller_name} a_#{@controller.action_name}"}
          .page
            - unless @supress_flash
              - if flash[:error]
                #error= flash[:error]
              - if flash[:warning]
                #warning= flash[:warning]
              - if flash[:notice]
                #notice_c
                  #notice= flash[:notice]
                %script{:type => "text/javascript", :charset => "utf-8"}
                  setTimeout("new Effect.BlindUp('notice_c');", 5000)
            = yield
        #side
          .side
            = yield :side

    = render :partial => 'layouts/footer'
    = yield :end
    
    %script{:type => "text/javascript", :charset => "utf-8"}
      = yield :end_js
    %script{:type => "text/javascript", :charset => "utf-8"}
      = render :partial => 'layouts/google_analytics'
